@{
    ViewData["Title"] = "Home Page";
}

<hr />
<h1>List- Queue</h1>
<hr />
<table class="styled-table">
    <thead>
        <tr>
            <th>Time</th>
            <th>Number</th>
            <th>Serial number</th>
            <th>Company name</th>
            <th>Origin</th>
            <th>Destenation</th>
            <th>Leg number</th>
        </tr>
    </thead>

    <tbody id="listTable"/>
</table>

 <script src="/lib/signalr/signalr.js"></script>